<div data-id="{{ id }}" class="request-item js-request-item card">
  <div class="card-header {{#if isDone}}bg-success{{else if isCanceled}}bg-dark{{else}}bg-primary{{/if}} bg-gradient text-white">{{ name }}
    needs help
    <span class="js-open-badge ml-2 badge bg-secondary {{#unless isOpen}}d-none{{/unless}}">open</span>
    <span class="js-closed-badge ml-2 badge bg-secondary {{#unless isDone}}d-none{{/unless}}">closed</span>
    <span class="js-canceled-badge ml-2 badge bg-secondary {{#unless isCanceled}}d-none{{/unless}}">canceled</span>
    <span class="js-progress-badge ml-2 badge bg-warning text-dark {{#unless isProgress}}d-none{{/unless}}">in
      progress</span>
    <span class="js-apply-badge badge bg-success {{#unless isApplied}}d-none{{/unless}}">applied</span>
    {{#if isOpen}}
    {{#unless forBuddy}}
    <button data-request-id="{{ id }}" type="button" class="js-cancel-request close float-right" aria-label="Cancel">
      <span aria-hidden="true">&times;</span>
    </button>
    {{/unless}}
    {{/if}}
  </div>
  <div class="card-body __container">
    <div class="__details">
      <h6>{{ location }}</h6>
      <div class="__categories">
        {{#each activities }}
        <span class="badge bg-primary">{{ this }}</span>
        {{/each}}
      </div>
      <div class="__price text-success">$ {{ price }}</div>
      <p class="card-text">{{ description }}</p>
    </div>

    <div class="mt-auto __footer">
      <hr>
      <p class="card-text small text-muted __dates">
        {{ dateFrom }} – {{ dateTo }}
      </p>

      {{#if forBuddy}}
      <div class="text-center">
        <button data-request="{{ id }}" data-price="{{ price }}"
          class="js-apply-button btn btn-secondary">Apply</button>
      </div>
      {{/if}}
    </div>
  </div>

  {{#if buddy}}
  <div class="card-footer">
    {{> requests/_requestBuddy 
    id=id
    name=buddy.name
    contacts=buddy.contacts
    isDone=isDone
  }}
  </div>
  {{else}}
  {{#unless forBuddy}}
  <div class="card-footer">
    {{ buddiesCount }} buddies applied
    {{#if buddiesCount}}
    <div class="text-center"> <a data-request-id="{{ id }}" role="button" class="js-show-buddy-candidates small">
        choose buddy
      </a></div>
    {{/if}}
  </div>
  {{/unless}}
  {{/if}}
</div>