<div class="member-card card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img class="img-cover" style="max-height: 250px;" src="{{ photo }}" alt="buddy photo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <div class="profile-skills">
          {{#each skills }}
          <span class="badge bg-primary">{{ this }}</span>
          {{/each}}
        </div>
        <p class="card-text">{{ bio }}</p>
        <p class="card-text"><small class="text-muted">Contact me:
            <br> {{ contacts }}
          </small></p>
      </div>
    </div>
  </div>
</div>